<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We Build Landmarks!</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Apartment</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Independent Building</h4>
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-industry fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Duplex Villa</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
            <h3></h3>
            <p>Thoughtfully designed, excellence through experience, optimally priced and placed in desired location off New By Pass Road, NH5, Kothapatnam Road, Ongole by us. We provide all features that a modern property buyer would wish to have. These properties are well connected to near by localities by wide roads and national highway NH5. Residents of this locality have easy access to community facilities like bus stand(Kothapatnam bus stand), railway station, schools(Minutes away from Nextgen international school), roads(600 meters to 6 lane new by pass road), corporate colleges, banks, hospitals etc.</p>
        </div>
    </section>