<!-- Specifications Section -->
    <section id="specifications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Specifications</h2>
                    <h3 class="section-subheading text-muted">We can always upgrade according to your needs.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-3x">
                        <i style="color: black;" class="fa fa-cubes"></i>
                    </span>
                    <h5 class="service-heading">Structure</h5>
                    <p class="text-muted">R.C.C. pile foundation with AAC blocks(Light weight bricks)/Clay bricks in cement mortar</p>
                </div>
                <div class="col-md-3">
                        <span class="fa-3x">
                            <i style="color: black;" class="fa fa-layer-group"></i>
                        </span>
                        <h5 class="service-heading">Flooring</h5>
                        <p class="text-muted">Vitrified tiles in utility/wash area. Marble tiles in hall, dining, kitchen, bedrooms, toilets and balconies</p>
                </div>
                <div class="col-md-3">
                        <span class="fa-3x">
                            <i style="color: black;" class="fa fa-door-closed"></i>
                        </span>
                        <h5 class="service-heading">Doors</h5>
                        <p class="text-muted">Teak wood frames having good quality of flush doors with hardware fittings for both main and internal doors</p>
                </div>
                <div class="col-md-3">
                        <span class="fa-3x">
                            <i style="color: black;" class="fa fa-columns"></i>
                        </span>
                        <h5 class="service-heading">Windows</h5>
                        <p class="text-muted">Reputed make UPVC sliding windows fitted with iron grills and glass</p>
                </div>
            </div>
            <h3></h3>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-3x">
                        <i style="color: black;" class="fa fa-utensils"></i>
                    </span>
                    <h5 class="service-heading">Kitchen</h5>
                    <p class="text-muted">Granite top platform and stainless steel sink. Provision for fixing water purifier, exhaust fan and chimney</p>
                </div>
                <div class="col-md-3">
                        <span class="fa-3x">
                            <i style="color: black;" class="fa fa-bath"></i>
                        </span>
                        <h5 class="service-heading">Toilets</h5>
                        <p class="text-muted">Each toilet will have one wash basin EWC/WC, shower point, glazed tiles up to 7' height for walls and CP fittings</p>
                </div>
                <div class="col-md-3">
                        <span class="fa-3x">
                            <i style="color: black;" class="fa fa-brush"></i>
                        </span>
                        <h5 class="service-heading">Painting</h5>
                        <p class="text-muted">Putty for internal walls, exterior emulsion for external wall, plastic emulsion for ceiling and enamel paint(2 coatings) for doors</p>
                </div>
                <div class="col-md-3">
                        <span class="fa-3x">
                            <i style="color: black;" class="fa fa-plug"></i>
                        </span>
                        <h5 class="service-heading">Electrical</h5>
                        <p class="text-muted">Concealed copper wiring in modular switches.Adequate fan, tv, telephone points and 15A/5A power plugs</p>
                </div>
            </div>
            <h3></h3>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-3x">
                        <i style="color: black;" class="fa fa-road"></i>
                    </span>
                    <h5 class="service-heading">Roads</h5>
                    <p class="text-muted">Black top roads as per R&B specifications/CC roads</p>
                </div>
                <div class="col-md-3">
                        <span class="fa-3x">
                            <i style="color: black;" class="fa fa-tree"></i>
                        </span>
                        <h5 class="service-heading">Plantation</h5>
                        <p class="text-muted">Planting trees along the road sides covering the entire avenue</p>
                </div>
                <div class="col-md-3">
                        <span class="fa-3x">
                            <i style="color: black;" class="fa fa-burn"></i>
                        </span>
                        <h5 class="service-heading">Water</h5>
                        <p class="text-muted">Municipal water provision, water sump and water tank up to 2000 litres capacity to individual house</p>
                </div>
                <div class="col-md-3">
                        <span class="fa-3x">
                            <i style="color: black;" class="fa fa-trash"></i>
                        </span>
                        <h5 class="service-heading">Sewage</h5>
                        <p class="text-muted">Open drainage canals and septic tank to individual house</p>
                </div>
            </div>
        </div>
    </section>